* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-size: 14px;
}

.el-header,
.el-footer {
  padding: 0;
  background-color: #FFF;
  text-align: center;
  line-height: 60px;
}

.el-breadcrumb__inner {
  color: #909399 !important;
}

.el-image {
  width: 145px;
  height: 145px;
  border-radius: 4px;
}

.buttom-group {
  padding: 20px 30px 20px 0;
}

.buttom-group>div {
  margin-left: 10px;
}

.button {
  color: #0077C8;
  cursor: default;
}

.cursor {
  cursor: pointer
}

.drawer-title {
  margin: 1em;
  font-weight: 500;
  font-size: 22px;
}

.drawer-content {
  display: flex;
  padding: 20px;
  flex-direction: column;
  height: 100%;
}

.drawer-content>form {
  flex: 1;
}

.drawer-footer {
  display: flex;
}

.drawer-footer>button {
  flex: 1;
}

.scrollbar::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.scrollbar::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: #0077C8;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
.scrollbar::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 10px;
}

/* .el-upload.el-upload--picture-card{
      width: 0.84rem;
      height: 0.84rem;
      line-height: 0.84rem;
  }
  .clearfix::after{
    content:'';
    display: block;
    clear: both;
    zoom: 1;
  }
  .el-dialog__footer{
    text-align: center;
  }
  .el-pager li.active{
    color: #fff!important;
    background-color: #0077C8;
  }
  .el-dialog__header{
    padding: 15px;
    background-color: #0077C8;
    color: #FFF;
  }
  .el-dialog__title{
    color: #FFF!important;
  }
  .el-dialog__headerbtn .el-dialog__close{
    color: #FFF!important;
  }
  .el-row{
    width: 100%;
    margin-top: 0.1rem;
    padding: 0 0.2rem;
  }
  .drop-down{
    margin-left: 10px;
}
.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px; 
}
.dot-blue{
    background-color: #0077C8;
}
.dot-orange{
    background-color: #FFC72C;
}
.dot-red{
    background-color: #CB333B;
}
.dot-green{
    background-color: #84BD00;
}
.dot-purple{
     background-color: #9231d2;
}
.dot-blue-green{
    background-color: #0ED7CE;
}
.dot-pink{
    background-color: #E024B8;
}
.el-pagination{
    float: right;
    margin: 0.2rem 0;
}
.el-card.is-always-shadow{
  box-shadow: 0 0 0 0!important;
}
.el-card{
  border: none!important;
}
.el-card .el-card__body{
  padding: 10px;
}
.el-card .el-menu{
  margin-bottom: 20px;
}
.text-align-center{
  text-align: center;
}
.text-align-right{
  text-align: right;
}
.padding-none{
  padding: 0;
}
.el-input.is-disabled .el-input__inner{
  background: white !important;
} */
/* aside.el-aside.left-menu::-webkit-scrollbar{
  width: 0 !important
}
aside.el-aside.left-menu{
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
} */